body{
    color: aqua;
    background:linear-gradient(45deg,green, red,aliceblue);
}
img{
    height: 500px;
    width: 400px;
    border-radius: 55px;
    border: 10px solid black;
}
h1{
    border-radius: 55px;
    background-color: black;
}